body{
    margin: 0px;
    padding: 0px;
}
ul, li {
    margin: 5px;
    padding: 5px;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: #222;
    text-decoration: none;
}

/*other*/
#question {
    position:absolute;
    top: 0px;
    right: 0px;
    width: 550px;
    height: 100%;
    cursor: pointer;
}

.close {
    display: none;
    position: fixed;
    top: 10px;
    right: 0px;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 15px;
    background: #AAA;
    text-align: center;
    line-height: 30px;
}

#question img {
    width: 550px;
}

/*title*/
#header-wrapper {
    width: 100%;
    height: 150px;
}

#header-title {
    margin: 1px auto;
    width: 600px;
    height: 100px;
}
/*Lobster  Giddyup Std */
.logo {
    float: left;
    width:100px;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    font-family: "Lobster";
    line-height: 100px;
    color: #005f3c;
}
.logo img {
    width: 100px;
}
.title-content {
    float: left;
    margin-left: 100px;
    height: 100%;
    line-height: 100px;
}

#header-nav {
    width: 100%;
    height: 40px;
    background: #005f3c
}
#header-nav p {
    margin: 10px;
}
#header-nav p a {
    color: #9dccb6;
}

/*content*/
#container-wrapper {
    width: 100%;
    height: 1050px;
}
#content {
    position: relative;
    width: 1200px;
    margin: 0px auto;
}
#content-left {
    position: absolute;
    width: 250px;
    height: 1000px;
    background: #f1f7f4;
}

#content-modle {
    position: absolute;
    left: 260px;
    width: 750px;
    height: 1000px;
    background: #fbfbfb;
}
/*content-modle 内容过滤条或搜索框*/
#content-modle-showselect {
    width: 100%;
    height: 50px;
}
/*content-modle-showcontent 内容样式设置*/
.content-modle-title {
    font-size:18px;
    font-weight:700;
}
.content-modle-discription {
    font-size:14px;
    text-indent:2em;
}

.content-modle-more {
    text-decoration: underline;
    color: #9dccb6;
}

/*content-modle 内容分页*/
#content-modle-fenye {
    position: absolute;
    top: 950px;
    width: 100%;
    height: 50px;
}

.beforepage-true, .nextpage-true {
    color: #9dccb6;
}
.beforepage-false, .nextpage-false {
    color: #e6e6e6;
}

#content-right {
    position: absolute;
    left: 1020px;
    width: 250px;
    height: 1000px;
    background: #fbfbfb;
}


/*页面底部 footer-wrapper*/
#footer-wrapper {
    width: 100%;
    height:100px;
    background: #f1f4f3;
}


.html , .js {
    display: none;
}


/*代码片段 样式*/
.snippet {
    display: block;
    width: 80%;
    margin: 5px 0;
    padding: 10px;
    background: #000;
    color:#fff;
    border-radius: 5px;
}

.snippet-order {
    width: 20px;
    text-align: center;
    color: #999;
    border-right: 2px solid #bbb;
}
.snippet-content {
    color: #e7e7e7;
    padding: 0px 10px;
}