body, ul, li {
    margin: 10px;
    padding: 10px;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: #AAA;
    text-decoration: none;
}

/*other*/
#question {
    position:absolute;
    top: 0px;
    right: 0px;
    width: 550px;
    height: 100%;
    cursor: pointer;
}

.close {
    display: none;
    position: absolute;
    top: 10px;
    right: 0px;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 15px;
    background: #AAA;
    text-align: center;
    line-height: 30px;
}

#question img {
    width: 550px;
}

/*title*/
#header-wrapper {
    width: 100%;
    height: 100px;
}

#header-title {
    width: 300px;
    margin: 10px auto
}

/*content*/
#container-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
}

#content-left {
    position: absolute;
    width: 10%;
    height: 100%;
}

#content-modle {
    position: absolute;
    left: 10%;
    width: 20%;
    height: 100%;
}

#content-right {
    position: absolute;
    left: 70%;
    width: 70%;
    height: 100%;
}

.html , .js {
    display: none;
}


/*代码片段 样式*/
.snippet {
    display: block;
    width: 80%;
    padding: 10px;
    background: #000;
    color:#fff;
    border-radius: 5px;
}

.snippet-order {
    width: 20px;
    text-align: center;
    color: #999;
    border-right: 2px solid #bbb;
}
.snippet-content {
    color: #e7e7e7;
    padding: 0px 10px;
}